* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #050844;
    min-height: 200px;
}

th,td, h4{
    font-family: Kdam Thmor Pro;
    font-size: 18px;
    color: #ffffff;
}

a{
    text-decoration: none;
}

#header {
    background-color: rgb(34, 33, 33);
    height: 70px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#nav-bar {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-family: Kdam Thmor Pro;
    font-weight: 100;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    width: 250px;
}

.nav-content:hover {
    color: gray;
}

#logo {
    width: 10%;
    height: auto;
    position: absolute;
    left: 1%;
}

#login-but {
    width: 140px;
    height: 40px;
    position: absolute;
    left: 82.5%;
    background-color: rgb(14, 172, 14);
    border: none;
    border-radius: 3px;
    color: white;
    display: block;
}

#login-but:hover {
    transition: 0.3s;
    background-color: rgb(22, 223, 22);

}

#login-but a {
    text-decoration: none;
    font-size: 18px;
    font-family: Kdam Thmor Pro;
    color: white;
    display: block;
    position: relative;
}

#register-but {
    width: 140px;
    height: 40px;
    position: absolute;
    left: 91%;
    background-color: rgb(14, 172, 14);
    border: none;
    border-radius: 3px;
    color: white;
    display: block;
}

#register-but:hover {
    transition: 0.3s;
    background-color: rgb(22, 223, 22);
    color: black;
}

#register-but a {
    text-decoration: none;
    font-size: 18px;
    font-family: Kdam Thmor Pro;
    color: white;
    display: block;
    position: relative;
}


.container-wrapper {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: static;
    min-height: 707px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
    
}

.table-res {
    overflow-x: auto;
    margin-top: 2rem;
    border: #9c9494 1px;
}

.table-border {
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
    border: 1px solid #cecfcf;
    border-radius: 3px;
    padding: 0.75rem;
    vertical-align: top;
    text-align: center;
}

.clear-cart{
    width: 100px;
    height: 30px;
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 3px;
    color: white;
    font-family: Kdam Thmor Pro;
    display: block;
    position: relative;
    left:130px ;
    bottom: 10px;

}

.cont-shop{
    width: 180px;
    height: 30px;
    background-color: rgb(7, 160, 27);
    border: none;
    border-radius: 3px;
    color: white;
    font-family: Kdam Thmor Pro;
    font-size: 18px;
    display: block;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}


#footer {
    height: 150px;
    position: static;
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 34, 34);
}

.footer-cont {
    width: 15%;
    height: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Kdam Thmor Pro;

}

.Naslov-footer {
    color: #ffffff;
    font-size: 20px;
    font-family: Kdam Thmor Pro;
    font-weight: 100;
}

.footer-links {
    color: #696161;
    cursor: pointer;
    margin-top: 1%;
    transition: 0.3s;
    font-weight: 100;
}

.footer-links:hover {
    color: white;
}