@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mySlides {
    display: none;
}



#header {
    background-color: #bdd5ea;
    height: 70px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#nav-bar {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-family: Kdam Thmor Pro;
    font-weight: 200;
    font-size: 20px;
    color: #577399;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    width: 250px;
}

.nav-content:hover {
    color: #931621;
}

#logo {
    width: 10%;
    height: auto;
    position: absolute;
    left: 1%;
}

#login-but {
    width: 140px;
    height: 40px;
    position: absolute;
    left: 82.5%;
    background-color: rgb(209, 0, 0);
    border: none;
    border-radius: 3px;
    color: white;
    display: block;
}

#login-but:hover {
    transition: 0.3s;
    background-color: #931621;
}

#login-but a {
    text-decoration: none;
    font-size: 18px;
    font-family: Kdam Thmor Pro;
    color: white;
    display: block;
    position: relative;
}

#register-but {
    width: 140px;
    height: 40px;
    position: absolute;
    left: 91%;
    background-color: rgb(209, 0, 0);
    border: none;
    border-radius: 3px;
    color: white;
    display: block;
}

#register-but:hover {
    transition: 0.3s;
    background-color: #931621;
    
}

#register-but a {
    text-decoration: none;
    font-size: 18px;
    font-family: Kdam Thmor Pro;
    color: white;
    display: block;
    position: relative;
}

#bg {
    background-color: #495867;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#best-selling{
    width: 76%;
    background-image: linear-gradient(90deg, rgba(60,70,79,1) 33%, rgba(189,213,234,1) 100%);

}
#browse-wrapper{
    display: flex;
    justify-content: flex-start;
    width: 1300px;
    flex-wrap: wrap;
    position: relative;
    right: -100px;
    top: -15px;
}

#best-selling h1 {
    font-size: 30px;
    font-family: Kdam Thmor Pro;
    color: white;
    position: relative;
    top: 10px;
    left: 20px;
}

.kockice-wrapper{
    padding-left: 30px;
    width: 300px;
    position: relative;
    left: 100px;
    
}
.kockice{
    display: flex;
    flex-direction: column;
    background-color: #bdd5ea;
    border: 1px solid #bdd5ea;
    border-radius: 3px;
    padding: 5px;
    width: 230px;
    height: 430px;
    justify-content: center;
    align-items: center;
    
}
.ime-wrapper h5{
    font-size: 20px;
    font-family: Kdam Thmor Pro;
}


#donji-addtocart{
    padding: 5px; 
    border-top: 1px solid gray;
    display: flex;
    justify-content: center;
    font-family: Kdam Thmor Pro;
}

.browseadd-but{
    width: 140px;
    height: 40px;
    background-color: rgb(209, 0, 0);
    border: none;
    border-radius: 3px;
    color: white;
    margin-top: 2px;
    display: block;
    font-size: 18px;
    font-family: Kdam Thmor Pro;
    cursor: pointer;
}

.browseadd-but:hover{
    transition: 0.3s;
    opacity: 0.8;
    
}


#free-wrapper{
    background-image: linear-gradient(90deg, rgba(60,70,79,1) 33%, rgba(189,213,234,1) 100%);
    height: 500px;
    width: 1450px;
    margin-bottom: 40px;
    margin-top: 60px;
}   

#free-wrapper h1 {
    font-size: 30px;
    font-family: Kdam Thmor Pro;
    color: white;
    position: relative;
    top: 20px;
    left: 20px;
}

#thumb2{
    width: 55%;
    z-index: 2;
    position: relative;
    left: 43.5%;
    bottom: 90%;
}

#thumb1{
    width: 55%;		
    position: relative;
    top: 90px;
    left: 20px;
    z-index: 1;
}



#browse-games {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#browse-games a {
    width: 76%;
}

#footer {
    height: 150px;
    display: flex;
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #bdd5ea;
}

.footer-cont {
    width: 15%;
    height: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Kdam Thmor Pro;
}

.Naslov-footer {
    color: #577399;
    font-size: 20px;
    font-family: Kdam Thmor Pro;
    font-weight: 100;
    margin-bottom: -3px;
}

.footer-links {
    color: #606266;
    cursor: pointer;
    margin-top: 6px;
    transition: 0.3s;
    font-weight: 100;
    font-family: Kdam Thmor Pro;
    font-size: 19px;
    height: 17px;
}

.footer-links:hover {
   color: #577399;
}